<div class="container">
  <div *ngIf="loadingComics">
    <mat-spinner class="mx-auto"></mat-spinner>
  </div>

  <div *ngIf="!loadingComics" class="container shadow p-3 mb-5" style="background-color:lightgrey">
    <img class="img-thumbnail" src="{{comics?.thumbnail.path}}/portrait_uncanny.{{comics?.thumbnail.extension}}">
    <p>Title: {{ comics?.title }} </p>
    <p>Description: {{ comics?.description }}</p>
    <ul>
      <p>Heroes list:</p>
      <li *ngFor="let character of comics?.characters.items; index as i"> 
        <p><a routerLink="/hero/{{charcaterId[i]}}">{{ character.name }} </a> {{ character.check }} </p>
      </li>
    </ul>
  </div>
</div>