<div class="container">
  <form [formGroup]="searchForm">
    <input type="text" formControlName="name" placeholder="Search by name">
  </form>

  <br>

  <div class="container shadow p-3 mb-5" style="background-color:lightgrey">
    <ul>
      <li *ngFor="let hero of heroes | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPages }"> 
        <img class="img-thumbnail" src="{{hero.thumbnail.path}}/standard_medium.{{hero.thumbnail.extension}}">
        <p> <a routerLink="/hero/{{hero.id}}">Имя: {{ hero?.name }} </a> </p>
        <p>Описание: {{ hero?.description }}</p> 
      </li>
    </ul>
    <pagination-controls (pageChange)="page = $event" maxSize="10" (click)="loadSelectedList(page)"></pagination-controls>
  </div>
</div>