<div class="container">
  <ul class="nav nav-pills">
    <li>
      <a target="_blank" href="https://github.com/andreymishagin/marvel-app"> <img src="../assets/GitHub-Mark-32px.png"> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="heros" routerLinkActive="active">Heros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="comics" routerLinkActive="active">Comics</a>
    </li>
  </ul>
</div>

1. Обработка ошибок <br>

<router-outlet></router-outlet>
<app-errors></app-errors>