<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="heros" routerLinkActive="active">Heros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="comics" routerLinkActive="active">Comics</a>
    </li>
  </ul>
</div>

1. Сделать поиск по героям <br>
2. Переходить на личную страницу каждого героя <br>

<router-outlet></router-outlet>