.buttons{
    width: 500px;
    height: 309px;
    background: #eee;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
}

.color:hover {
    background:#53ea93;
}