<div class="container text-center">
  <div class="container shadow p-3 mb-5" style="background-color:lightgrey">
    <h4>
      Данный проект реализует тестовое задание STM Labs Мишагиным А.М.
    </h4>
    <h1>«Картотека супергероев»</h1>
    <h4>Используя публичный API <a target="_blank"
        href="https://developer.marvel.com/">https://developer.marvel.com/</a> реализовать приложение на
      React/Angular/Vue.</h4>
  </div>
</div>
<br>
<div class="container text-center">
  <div class="row container shadow p-3 mb-5" style="background-color:lightgrey; margin-left: auto; margin-right: auto;">
    <div class="col myButtons">
      <a routerLink="heros" class="links">Heroes list</a>
    </div>
    <div class="col myButtons">
      <a routerLink="comics" class="links">Comics list</a>
    </div>
  </div>
</div>